@import '../Variables.scss';

.close-icon {
  opacity: 0.3;
  background-color: $activeColor;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
  border: 0px;
  color: white;
  visibility: hidden;

  &:active {
    opacity: 0.7;
  }

  &,
  &:active,
  &:focus {
    outline: none;
  }
}

@media screen and(min-device-width: 600px) {
  .close-icon {
    visibility: visible;

    &:hover {
      opacity: 0.7;
    }
  }
}
