.details__card {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  padding-top: 1em;
}

.details__image {
  align-self: center;
}

.icon-link {
  display: flex;
  align-items: center;

  & .icon {
    margin-right: 0.5em;
  }

  &:hover {
    font-weight: 600;
  }
}
